<section class="card p-5 mt-5">
    
      <ol class="breadcrumb ondark mb-0">
        <li class="breadcrumb-item"> <a href="#">categorie</a>  </li>
        <li class="breadcrumb-item active"> sociale </li>
      </ol>
      
    <!-- container //  -->
</section>
<h2>les derniéres mise a jours </h2>

<!-- ================ SECTION INTRO ================ -->
<section class="section-intro padding-top-sm">
  <div class="container">
  <main class="card p-3">
    <div class="row">
      <aside class="col-lg-3"> <app-vaertical></app-vaertical></aside>

      <div class="col-lg-9">
        <article class="card-banner" >
          <div style="max-width: 500px">
             <h2 >Title </h2>
             <div class="row">
              <p >No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
              <a href="#" class="btn btn-warning"> voir</a></div> 
            </div>
             
        </article>
        <article class="card-banner " >
          <div style="max-width: 500px">
             <h2>Title </h2>
              <p >No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
              <a href="#" class="btn btn-warning"> voir</a></div>
             
        </article>
      </div>
    </div>
  </main>
  </div> <!-- container end.// -->
</section>
